version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "./package.json" }}
            - v1-dependencies-
      - run:
          name: Installing Dependencies
          command: yarn install
      - save_cache:
          paths:
            - ~/node_modules
          key: v1-dependencies-{{ checksum "./package.json" }}

  test:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - run:
          name: Linting build
          command: yarn lint
      - run:
          name: Testing build
          command: yarn test

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
            ignore: gh-pages