$gray: #dfdfdf;
$gray-dark: #5b5b5b;
$blue-light: #b3fdff;
$blue-dark: #0b01e3;
$yellow: #fdffb3;
$white: #fff;
$train-red: #e84807;
$train-yellow: #efb500;
$train-blue: #02219e;
$black: #000;

.background-dark {
  background-color: $gray-dark;
}

.white {
  color: $white;
}

.border-bottom-blue {
  border-bottom: solid $train-blue 6px;
}

.border-bottom-yellow {
  border-bottom: solid $train-yellow 6px;
}

.border-bottom-red {
  border-bottom: solid $train-red 6px;
}
