$gray: #dfdfdf;
$gray-light: #f9f9f9;
$gray-dark: #7a7a7a;
$border-color: #dcdcdc;
$blue-light: #b3fdff;
$blue-dark: #0b01e3;
$yellow: #fdffb3;
$white: #fff;
$train-red: #e84807;
$train-yellow: #efb500;
$train-blue: #02219e;
$black: #000;

.background-gray {
  background-color: $gray-light;
}

.white {
  color: $white;
}

.border-bottom-blue {
  border-bottom: solid $train-blue 6px;
}

.border-bottom-yellow {
  border-bottom: solid $train-yellow 6px;
}

.border-bottom-red {
  border-bottom: solid $train-red 6px;
}

.border-gray {
  &.bottom {
    border-bottom: 2px solid $border-color;
  }

  &.top {
    border-top: 2px solid $border-color;
  }
}
