.background-gray {
  background-color: $gray-light;
}

.background-yellow {
  background: $train-yellow;
}

.white {
  color: $white;
}

.red {
  color: $train-red;
}

.border-bottom-blue {
  border-bottom: solid $train-blue 6px;
}

.border-bottom-yellow {
  border-bottom: solid $train-yellow 6px;
}

.border-bottom-red {
  border-bottom: solid $train-red 6px;
}

.border-gray {
  &.bottom {
    border-bottom: 1px solid $border-color;
  }

  &.top {
    border-top: 1px solid $border-color;
  }
}
