.banner {
  background-image: url('../assets/images/traindoor_edited.jpg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 23rem;
  max-width: 100%;
}

.header-image {
  border: 6px $white solid;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 7rem;
  z-index: 100;
  max-width: 18rem;
  max-height: 18rem;
}

.header-text {
  color: $white;
  position: absolute;
  text-shadow: 4px 4px $black;
  top: 17rem;
  z-index: 100;
}

.icon-container {
  display: flex;

  & > a {
    align-self: flex-start;
    margin-right: 40px;
  }
}
