$title-font: 'Fredericka the Great', cursive;
$text-font: 'Raleway', sans-serif;
$subheader-font: 'Satisfy', cursive;


.title {
  font-family: $title-font;
}
.subeheader {
  font-family: $subheader-font;
}
