.title {
  font-family: $title-font;
  font-size: 4.5rem;
}

.subtitle {
  font-family: $accent-font;
  font-size: 2rem;

  &::after {
    border-bottom: 2px solid $train-yellow;
    content: '';
    display: block;
    width: 70%;
  }

  &.center-border {
    &::after {
      margin: 0 auto;
    }
  }
}

.accent {
  font-family: $accent-font;
}

.bold {
  font-weight: 800;
}

