//* Alignment
.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

//* Responsive Images
.responsive-image {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  min-height: 100vh;
  max-width: 70%;
  margin: auto;
}

.align-center {
  align-items: center;
}
