//* Alignment
.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.margin-horizontal {
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.padding-horizontal {
  padding-bottom: 2rem;
  padding-top: 2rem;
}


//* Position
.relative {
  position: relative;
}

.block {
  display: block;
}

//* Responsive Images
.responsive-image {
  display: block;
  max-width: 100%;
}

.align-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

//* Skip to main content for a11y purposes.
.skip {
  background: $white;
  height: 1px;
  left: -1000px;
  padding: 10px;
  position: absolute;
  top: -1000px;
  white-space: nowrap;
  width: 1px;
  z-index: 1;

  &:focus {
    color: $black;
    font-weight: 800;
    height: auto;
    left: 0;
    overflow: hidden;
    top: 0;
    width: auto;
    z-index: 999;
  }
}

//* Visibility
.invisible {
  visibility: hidden;
}

//* Lists
.list {
  text-align: left;
  padding-left: 1rem;

  li {
    margin-bottom: 1rem;
  }

  .list-title {
    font-size: 1rem;
    font-weight: 800
  }
}
