$title-font: 'Great Vibes', cursive;
$text-font: 'Raleway', sans-serif;
$subtitle-font: 'KoHo', sans-serif;
$accent-font: 'Saira Extra Condensed', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
h1,
h2 {
  font-family: $text-font;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border-radius: 4px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 5px;
  width: 100%;
}

@import './colors';
@import './utilities';
@import './grid';
@import './typography';
@import './header';

