$gray: #dfdfdf;
$gray-light: #f9f9f9;
$border-color: #dcdcdc;
$blue-light: #b3fdff;
$blue-dark: #0b01e3;
$yellow: #fdffb3;
$white: #fff;
$train-red: #e84807;
$train-yellow: #ffb000;
$train-blue: #02219e;
$black: #000;
$title-font: 'Great Vibes', cursive;
$text-font: 'Raleway', sans-serif;
$subtitle-font: 'KoHo', sans-serif;
$accent-font: 'Saira Extra Condensed', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
h1,
h2 {
  font-family: $text-font;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: 1px solid $black;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 5px;
  width: 100%;
}

@import './colors';
@import './utilities';
@import './grid';
@import './typography';
@import './header';
