//* Colors
$gray: #dfdfdf;
$gray-light: #f9f9f9;
$gray-dark: #f9f9f9;
$border-color: #dcdcdc;
$blue-light: #b3fdff;
$blue-dark: #0b01e3;
$yellow: #fdffb3;
$white: #fff;
$black: #000;
$train-red: #e84807;
$train-yellow: #ffb000;
$train-blue: #02219e;
$black: #000;
$card-shadow-25: rgba(0, 0, 0, .25);
$card-shadow-21: rgba(0, 0, 0, .21);

//* Fonts
$title-font: 'Great Vibes', cursive;
$text-font: 'Raleway', sans-serif;
$subtitle-font: 'KoHo', sans-serif;
$accent-font: 'Saira Extra Condensed', sans-serif;

//* Spacing
$spacing-unit: 20px;
$content-width: 1160px;

//* Breakpoint
$on-laptop: 1024px;
$on-mobile: 48em;

//* Media Screen Mixin
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-min($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

//* Clearfix
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
}

body,
h1,
h2 {
  font-family: $text-font;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: 1px solid $black;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 5px;
  width: 100%;

  &.error {
    border: 1px solid $train-red;
  }

  &.button {
    cursor: pointer;
    font-size: 1.2rem;
  }
}

button {
  font-family: $subtitle-font;
}

a {
  color: $train-red;
  text-decoration: none;

  &:visited {
    color: $train-red;
  }

  &:hover {
    opacity: .8;
  }
}

@import './colors';
@import './utilities';
@import './grid';
@import './typography';
@import './header';
@import './card';
@import './visibility';


